.home {
    width: 100%;
    display: flex;
    align-items: center;
}

/* online and offline */
/* .normal {
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%);
    padding: 20px 40px;
    background-color: green;
    color: white;
    border-radius: 15px;
    animation: showDetect1 3s ease-in-out forwards;
}

.warning {
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%);
    padding: 20px 40px;
    background-color: red;
    color: white;
    border-radius: 15px;
    animation: showDetect2 3s ease-in-out forwards;
}

@keyframes showDetect1 {
    0% {
        display: none !important;
        top: -100px;
    }
    20% {
        display: block !important;
        top: 20px;
    }
    50% {
        display: block !important;
        top: 20px;
    }
    90% {
        display: block !important;
        top: 20px;
    }
    100% {
        display: none !important;
        top: -100px;
    }
}
@keyframes showDetect2 {
    0% {
        display: none !important;
        top: -100px;
    }
    20% {
        display: block !important;
        top: 20px;
    }
    90% {
        display: block !important;
        top: 20px;
    }
    100% {
        display: none !important;
        top: -100px;
    }
} */